<div class="text-layout">
  <h1>Pipes personalizados</h1>
  <p>Pipes creados por {{ 'nosotros' | mayusculas: bMayusculas  }}</p>
</div>

<p-toolbar>
  <div class="p-toolbar-group-left">

  </div>

  <div class="p-toolbar-group-right">

    <button
      type="button"
      pButton
      icon="pi pi-undo"
      iconPos="left"
      label="Toogle a mayúsculas"
      class="p-button-warning p-button-sm mr-1"
      (click)="cambiarMaysculas()">
    </button>

    <button
      pButton
      icon="pi pi-sort"
      label="Por nombre"
      class="p-button-sm mr-1"
      (click)="btnOrdenar('NOMBRE')">
    </button>

    <button
      pButton
      icon="pi pi-sort"
      label="Vuela"
      class="p-button-sm mr-1 p-button-success"
      (click)="btnOrdenar('VUELA')">
    </button>

    <button
      pButton
      icon="pi pi-sort"
      label="Por color"
      class="p-button-sm mr-1 p-button-help"
      (click)="btnOrdenar('COLOR')">
    </button>
  </div>
</p-toolbar>

<!--ORDENAMIENTO DEL TABLE POR PIPE PERSONALIZADO-->
<div class="grid">
  <div class="col mt-2">

    <p-table [value]="heroes | ordenar: ordenarPor: tipoOrdenanimiento" responsiveLayout="scroll">
      <ng-template pTemplate="header">
          <tr>
              <th>Nombre</th>
              <th>Vuela</th>
              <th>Color</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-heroe>
          <tr>
              <td>{{ heroe.nombre }}</td>
              <td>{{ heroe.vuela | vuela | titlecase }}</td>
              <td>{{ heroe.color }}</td>
          </tr>
      </ng-template>
    </p-table>

  </div>
</div>

<!--ORDENAMIENTO DEL TABLE DEL MISMO COMPONENTE TABLE PRIME NG-->
<div class="grid">
  <div class="col mt-2">

    <!--SE PUEDE UTILIZAR EL SLICE:0 PARA CREAR UNA COPIA DE UN ARREGLO EN LA VISTA CON
    LA FINALIDAD DE EVITAR QUE MUTE EL ARREGLO ORIGINAL EN ESTE CASO NO FUE NECESARIO-->
    <!--<p-table [value]="heroes|slice:0" responsiveLayout="scroll">-->
    <p-table [value]="heroes" responsiveLayout="scroll">
      <ng-template pTemplate="header">
          <tr>
              <th pSortableColumn="nombre">Nombre<p-sortIcon field="nombre"></p-sortIcon></th>
              <th pSortableColumn="vuela">Vuela<p-sortIcon field="vuela"></p-sortIcon></th>
              <th pSortableColumn="color">Color<p-sortIcon field="color"></p-sortIcon></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-heroe>
          <tr>
              <td>{{ heroe.nombre }}</td>
              <td>{{ heroe.vuela | vuela | titlecase }}</td>
              <td>{{ heroe.color }}</td>
          </tr>
      </ng-template>
    </p-table>

  </div>
</div>
